@using APIGateway.Models
@{
    ViewBag.Title = "Shops";
}
<div class="hacky-align">
    <h1>Shops</h1>
    <ul class="tilesWrap">
        @foreach (var shop in (List<ShopAgent>)ViewData["shops"])
        {
            <li>
                <h3>@shop.Name</h3>
                <p>@shop.Description</p>
                <button onclick="location.href='@Url.Action("ShopVisualizer", "Home", new { shop = shop.Name }, null)'">View &#187;</button>
            </li>
        }
    </ul>
</div>