@using APIGateway2._0.Models
<h1>Banks</h1>

<ul>
    @foreach (var bank in (IList<BankAgent>)ViewData["banks"])
    {
        <li>  @Html.ActionLink(bank.Name, "BankVisualizer", "Home", bank, null)</li>
    }
    
</ul>