@using APIGateway2._0.Models
@{
    ViewBag.Title = "Case Study";
}

<div class="hacky-align">
    <h1>Case Study</h1>
    <button onclick="location.href='@Url.Action("ClickCaseStudyButton", "Home", null, null)'">Test »</button>

</div>