@{
    ViewBag.Title = "Asynchronous Programming";
}

<div class="jumbotron">
    <h1>async/await with Task&lt;T&gt;</h1>
    <p class="lead">A case study to demonstrate how to use async/await in C# to accomplish a reactive program.</p>
    <p>
        @Html.ActionLink("Try it out »", "CaseStudy", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>